@import "tailwindcss";

@theme {

  --color-background: #2a2d3e;
  --color-bright-foreground: #dddddd;
  --color-dark-foreground: #17141a;

  --color-button: #b69dff;
  --color-button-highlight: #c850ff;
  --color-link: #3acdff;
  --color-link-highlight: #2a6cf1;

  --font-play: "Play", sans-serif;
}

/* TailwindCSS не підтримує ще text-shadow, тому потрібно створити новий клас. */
@utility bold-shadow-bright-foreground {
  text-shadow:
    0 0 1px var(--color-bright-foreground),
    0 0 1px var(--color-bright-foreground),
    0 0 1px var(--color-bright-foreground),
    0 0 1px var(--color-bright-foreground),
    0 0 1px var(--color-bright-foreground);
}
@utility bold-shadow-dark-foreground {
  text-shadow:
    0 0 1px var(--color-dark-foreground),
    0 0 1px var(--color-dark-foreground),
    0 0 1px var(--color-dark-foreground),
    0 0 1px var(--color-dark-foreground),
    0 0 1px var(--color-dark-foreground);
}

body, html {
  background: var(--color-background);
  color: var(--color-bright-foreground);
  font-family: var(--font-play);
}

a:not([class*="text-"]) {
  color: var(--color-link);
}