@import "tailwindcss";

@theme {

  --color-background: #2a2d3e;

  --color-bright-foreground: #dddddd;
  --color-muted-bright-foreground: #bbbbbb;
  --color-dark-foreground: #17141a;

  --color-link: #3acdff;
  --color-link-highlight: #2a6cf1;

  --font-play: "Play", sans-serif;
}

/* TailwindCSS не підтримує ще text-shadow, тому потрібно створити новий клас. */
@utility bold-shadow-bright-foreground {
  text-shadow:
    0 0 1px var(--color-bright-foreground),
    0 0 1px var(--color-bright-foreground),
    0 0 1px var(--color-bright-foreground),
    0 0 1px var(--color-bright-foreground),
    0 0 1px var(--color-bright-foreground);
}
@utility bold-shadow-dark-foreground {
  text-shadow:
    0 0 1px var(--color-dark-foreground),
    0 0 1px var(--color-dark-foreground),
    0 0 1px var(--color-dark-foreground),
    0 0 1px var(--color-dark-foreground),
    0 0 1px var(--color-dark-foreground);
}

@layer utilies {
  .color-container {
    @apply bg-gradient-to-br from-bright-foreground/40 to-bright-foreground/10;
    @apply rounded-4xl;
    @apply text-bright-foreground;
  }
}

@layer utilities {
  .color-button {
    @apply bg-gradient-to-r from-blue-400 to-purple-400 hover:bg-gradient-to-br hover:from-cyan-300 hover:to-purple-300 transition;
    @apply text-gray-900;
  }

  .color-button-selected {
    @apply bg-gradient-to-r from-blue-300 to-purple-300 hover:bg-gradient-to-br hover:from-cyan-300 hover:to-purple-300 transition;
    @apply text-gray-900;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body, html {
  background-color: var(--color-background);
  background-image: url('/images/background.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  color: var(--color-bright-foreground);
  
  font-family: var(--font-play);
}

a:not([class*="text-"]) {
  color: var(--color-link);
}